<h1>Log in</h1>
<div class="col-xs-12 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
<div class="groupbox">
  <%= form_with(scope: :session, url: sessions_path) do |f| %>
  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email ,class: "form-control"%>
  </div>
  <div class="field form-group">
    <%=  f.label :password %>
    <%= f.password_field :password ,class: "form-control"%>
  </div>
  <%= f.submit "ログイン" %>
  <% end %>
</div>
</div>
<div class="col-xs-12 col-md-4 col-lg-4">
  <div class="box22">
    <i class="fa fa-heart faa-pulse animated fa-example">
      <p>
        <p>家電のレシートを共有して最安値を知ろう</p><br>
        <p>コメント欄に交渉時のノウハウや状況を書き込んで自分の買い物スキルをみんなに伝授しよう</p><br>
        <p>レシートの黒塗りに失敗した時は編集ボタンから元の画像をアップロード</p><br>
        <p>画像を黒塗りにするには始点と終点を一回ずつタップします。</p><br>
        <p>ちなみにお気に入りは画像の下の確認ボタンをクリックしてお気に入りしたい人を選べるよ!!</p>
      </p>
    </i>
  </div>
</div>
